body,
html {
  margin: 0;
  font-size: 16px;
}

body {
    overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.bar {
  fill: #aaa;
}

.bar:hover {
  fill: #ccc;
}

.bar-chart .bar {
  fill: black;
}

.bar-chart .axis {
  /* display: none; */
}

.bars .axis--x path {
  /*display: none;*/
}

.page-container {
  display: flex;
  flex: 1 0 auto;
  padding: 1rem;
  width: 100%;
  /*height: calc(100% - 97px);*/
  /*overflow-x: auto;
  overflow-y: hidden;*/
}

.section {
  flex-basis: 40%;
}

.svg-container {
  flex-basis: 50%;
  margin-bottom: -1rem;
}

svg {
  width: 100%;
}

div.bars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: calc(100% - 4rem);
}

svg.bars {
  height: 100%;
  z-index: 1;
  position: relative;
}

.hidden {
  transform: translateX(150%);
}

div.bars,
div.bar-chart {
  transition: all 500ms;
}

.footer {

}

.final-wrapper {
  transition: all 200ms;
}

h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

/*h3 {
    font-size: 3vw;
}

h4 {
    font-size: 1.8vw;
}*/

/*.bars .page-container:before {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  top: 34%;
  right: -55%;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-46deg);
}*/

.bars .page-container {
}

/*div.bars {
  overflow: hidden;
}*/

.bar-chart .svg-container {
  min-width: 1200px;
}

.page-container.bar-chart {

}

.btn-navigation {
  background: none;
  border: none;
  position: fixed;
  top: 0;
  /*top: 2rem;*/
  /*bottom: 4.7rem;*/
  font-size: 5rem;
  color: white;
  opacity: 0.9;
  height: 100vh;
  /*-webkit-text-stroke: black;*/
  /*-webkit-text-stroke-width: 1px;*/
  cursor: pointer;
  transition: opacity 800ms;
}

.btn-navigation:not(.right) {
    left: 60px;

}

.btn-navigation:hover {
  color: #ddd;
  text-shadow: 1px 1px 3px #444;
}

.btn-navigation.right {
  right: 60px;
}

.not-shown {
  opacity: 0;
}

.btn-navigation:focus {
  outline: none;
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 1222px) {
    .svg-container {
        height: 700px;
    }
    
    .svg-wrapper {
        width: 100%!important;
    }

    .btn-navigation.right {
      right: 0;
    }

    .arrow-left {
      display: none!important;
    }

    .arrow-right {
      display: none!important;
    }

    .btn-navigation:not(.right) {
      left: 0;
    }

    .footer .mobile-block {
      display: block;
    }

    .smaller-bars {
      max-height: 90vh!important;
    }

    .app-container {
        margin: 0 0 0 0 !important;
        height: initial!important;
    }

    h1 {
        font-size: 47px !important;
    }

    h3 {
        font-size: 28px !important;
        max-width: 100% !important;
    }

    h4 {
        font-size: 17px !important;
    }

    .text-section {
        text-align: center !important;
    }

    .footer {
        /*height: 100px !important;*/
    }

    .footer input {
      min-width: 200px;
      margin: .5rem;
      border: 1px solid red!important;
    }
    
    .page-container {
        flex-direction: column !important;
    }
    
    .final-page {
        flex-direction: column !important;
    }
}

body.no-ovf {
    overflow: hidden!important;
}